---
---
<div class="nvim-header">
    <span class="mode-indicator">NORMAL</span>
    <span class="file-path">~/blog/posts/</span>
    <span class="file-info">markdown</span>
</div>

<style>
    .nvim-header {
        background: var(--nvim-statusline);
        padding: 0.3rem 1rem;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        height: 32px;
        align-items: center;
    }

    .mode-indicator {
        color: var(--nvim-green);
        font-weight: 600;
    }

    .file-path {
        color: var(--nvim-blue);
    }

    .file-info {
        color: var(--nvim-gray);
    }
</style>